<!DOCTYPE html>
<html data-ng-app="shameBot">

<head>
	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/names.js"></script>
    <link rel="stylesheet"	href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet"	href="stylesheets/pygment_trac.css">
</head>

<body data-ng-controller="shameDispenser">


    <div class="container">
		<div class="row">
        	<div class="col-md-12 h1">
        		Your New Name Is
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12 h1">
        		<input type="text" ng-model="shamename"/>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-3 h3 btn" ng-click='generateName()'>
        		TRY AGAIN
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-3 h3" ng-click='hoaify()'>
        		HOA-ify It!
        	</div>
        	<div class="col-md-3 h3" ng-click='chhabrify()'>
        		RAHUL-ify It!
        	</div>
        	<div class="col-md-3 h3" ng-click='tadify()'>
        		TAD-ify It!
        	</div>
        </div>
	</div>
	<script src="javascripts/shameController.js"></script>
</body>
</html>
